@dark-bg: #3c3200;
@light-bg: #f7f5db;

@import "seattletimes";
@import "viewer";

body {
  margin: 0;
  background: @light-bg;
  background-attachment: fixed;
}

header.intro {
  margin: 40px auto;

  h1, h2, p {
    margin: 20px auto;
    max-width: 800px;
  }

  h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 48px;

    @media @mobile {
      font-size: 32px;
    }
  }

  .credits {
    font-family: @df-sans;
    font-size: 15px;
    text-align: center;
  }

  video {
    width: 100%;
    display: block;
  }
}

article.story {
  margin: auto;
  padding: 20px;
  max-width: 600px;

  a {
    color: @dark-bg;
    text-decoration: underline;

    &:visited {
      color: @df-dark-gray;
    }
  }
}

.placeholder {
  padding: 80px;
  text-align: center;
  font-family: @df-sans;
  text-transform: uppercase;
  background: @df-dark-gray;
}