@import "seattletimes";
@import "viewer";

body {
  margin: 0;
  background: @df-dark-gray;
  background-image: linear-gradient(@df-dark-gray, darken(@df-dark-gray, 10%));
  background-attachment: fixed;
  color: @df-off-white;
}

h1, h2 {
  color: @df-off-white;
}

header.intro {

  video {
    width: 100%;
    display: block;
  }
}

article.story {
  margin: auto;
  padding: 20px;
  max-width: 600px;
}

.placeholder {
  padding: 80px;
  text-align: center;
  font-family: @df-sans;
  text-transform: uppercase;
  background: @df-dark-gray;
}