@dark-bg: #221D21;
@light-bg: #FFFEF2;

@import "seattletimes";
@import "viewer";

body {
  margin: 0;
  background: @light-bg;
  background-attachment: fixed;
}

header.intro {
  margin: 40px auto 0;

  h1, h2, p {
    margin: 20px auto;
    max-width: 800px;
  }

  h1 {
    text-align: center;
    margin: 0 auto 20px;
    font-size: 48px;

    @media @mobile {
      font-size: 32px;
    }
  }

  p {
    font-family: @df-sans;

    @media @mobile {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .credits {
    font-family: @df-sans;
    font-size: 15px;
    text-align: center;
  }

  video {
    width: 100%;
    display: block;
  }
}

article.story {
  margin: auto;
  padding: 20px;
  max-width: 600px;

  a {
    color: @dark-bg;
    text-decoration: underline;

    &:visited {
      color: @df-dark-gray;
    }
  }

  strong {
    font-size: 150%;
  }
}

.video-container {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-bottom: percentage(9 / 16);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.credit {
  text-align: right;
  font-family: @df-sans;
  font-size: 12px;
  padding: 8px 20px;
  text-transform: uppercase;
}