<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <header class="intro">

      <video src="./assets/portraits_BW_loop.mp4" autoplay muted loop></video>

      <h1>Field notes</h1>

      <p class="credits">Written by Tyrone Beason &bull; Photos by Erika Schultz &bull; Video by Lauren Frohne &bull; Development by Thomas Wilburn

    </header>

    <article class="story">
      <%= markdown.story %>
    </article>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.journalData = <%= JSON.stringify(json.journals) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
